body {
    background-color: gray;
    text-transform: uppercase;
    font-weight: bold;
}
#container {
    width: 500px;
    height: 700px;
    background-color:dimgray;
    margin: 100px auto;
    border-radius: 20px;
}
h1 {
    background-color: ivory;
    color: dimgray;
    text-align: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 10px 10px;
    margin: 0px;
}
p {
    padding-left: 20px;
}
form input[type="text"] {
    width: 150px;
    height: 30px;
    margin-left: 10px;
}
input,select {
    margin: 20px;
}
input[type="number"] {
    height: 30px;
}
select {
    height: 40px;
}
button {
    /* diplay block function makes it change away from the container settings */
    display: block; 
    margin: 30px auto;
    width: 200px;
    height: 50px;
    text-transform: uppercase;
    font-weight: bolder;
    border-radius: 5px;
    border: none;
}
button:hover {
    background-color: gray;
    border: none;
}
button:active {
    background-color: black;
    color: white;
    position: relative;
}
#totalTip {
    text-align: center;
    font-size: 30px;
}
#totalTip:before {
    content: "Tip Amount";
    text-transform: uppercase;
    display:block;
    font-size: 20px;
    margin-bottom: 10px;
}
#totalTip sup {
    margin: 10px;
    font-size: 20px;
    top: -20px;
}
#totalTip small{
    margin-top: 10px;
    font-size: 17px;
    display: block;
}



